# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Android/Gradle
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
release/

# Android Studio
*.iml
.idea/
.gradle/
local.properties

# NDK
obj/
.externalNativeBuild/
.cxx/

# Gradle
.gradle/
build/
gradle-wrapper.jar

XrSamples/VrEngine/Projects/Android/build/
XrSamples/VrEngine/Projects/Android/.cxx/